@page "/analytics"
@inject HttpClient Http
@inject IConfiguration Configuration

<PageTitle>Page Views</PageTitle>

<h1>Page Views</h1>

<p>These are the current page views on your site.</p>

@if (pageViews == null)
{
    <p><em>Loading from @apiUrl</em></p>
    @if (string.IsNullOrEmpty(errorMessage) == false)
    {
        <p><strong>Error:</strong> @errorMessage</p>
    }
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>URL</th>
                <th>Last Accessed Date</th>
                <th>View Count</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var pageView in pageViews)
            {
                <tr>
                    <td>@pageView.Url</td>
                    <td>@pageView.LastAccessed.ToString("g")</td>
                    <td>@pageView.Count</td>
                </tr>
            }
        </tbody>
    </table>
}

@code {
    private PageView[]? pageViews;
    private string apiUrl = "";
    private string errorMessage = "";

    protected override async Task OnInitializedAsync()
    {
        try
        {
            apiUrl = Configuration["ApiURL"]; // Get the API URL from appsettings.json
            pageViews = await Http.GetFromJsonAsync<PageView[]>(apiUrl);
        }
        catch (Exception ex)
        {
            errorMessage = ex.Message;
        }
    }

    public class PageView
    {
        public int Id { get; set; }
        public string Url { get; set; }
        public DateTime LastAccessed { get; set; }
        public int Count { get; set; }
    }
}